{% extends 'base.html.twig' %}

{% block body %}
</h1>Reservations<h1>

{% endblock %}

{# 
    symfony new ..
    composer req twig debug asset make orm ormfixtures form validator security
    symfony console make:user
    symfony console make:auth
 #}